*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  min-width: 320px;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}
